<h1>Homepage</h1>
<h2>Featured products</h2>

<% @featured_products.each do |p| %>
  <p><%= link_to p.title, product_path(p) %></p>
  <p><%= image_tag p.image_1.thumb.to_s %></p>
<% end %>


<p>
  <%= link_to "Back to all products", products_path %>
</p>
