<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatum nostrum, adipisci? Error, architecto. Assumenda corrupti architecto consequatur accusantium, expedita atque culpa dolorum commodi soluta illum ducimus, maiores quasi doloribus!</p>

<p>
  <%= link_to "Back to homepage", root_path %>
</p>
